<html>

<head>
	<title>Docker性能测试自动化 -
		<%= title %>
	</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="public/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
	<script src="public/js/script.js"></script>
</head>

<body>
	<div class="container">
		<div class="table-wrapper">
			<h2>
				Docker性能测试自动化平台
			</h2>

			<dl style="margin: 20px;">
				<dt>
					Docker性能测试自动化平台可以解决工作中遇到的以下问题：
				</dt>
				<dd>
					1.在虚拟机上运行性能测试时，每次都要配置性能测试环境；
				</dd>
				<dd>
					2.如果忘记记录目标服务器性能，性能测试需要重新执行；
				</dd>
				<dd>
					3.仅保留最近一次执行性能测试的结果，其他结果需要手动记录或者重复工作；
				</dd>
				<dd>
					4.目标服务器性能监测数据不够准确，且需要手动将监测结果转为图表。
				</dd>
			</dl>
		</div>